<%- include("header") %>

    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row mt-3" style="justify-content: center;">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Update Admin</div>
                            <hr>
                            <form action="/admin/update_admin" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="editId" value="<%= adminData.id %>">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Your Name" name="name"
                                        value="<%= adminData.name %>">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Enter Your Email Address"
                                        name="email" value="<%= adminData.email %>">
                                </div>
                                <!-- <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" class="form-control" placeholder="Enter Password"
                                        name="password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="text" class="form-control" placeholder="Confirm Password"
                                        name="confirm_pass">
                                </div> -->
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea name="description" class="form-control"
                                        placeholder="Enter Description"><%= adminData.description %></textarea>
                                </div>

                                <div class="form-group">
                                    <label>City</label>
                                    <%var city=["surat","ahemadabad","rajkot","vadodara"];%>
                                        <select class="form-control" name="city">
                                            <option value="">-- - --</option>
                                            <% city.map((v)=>{ %>
                                                <option value="<%= v %>" <%if(v==adminData.city){%>
                                                    <%= "selected" %>
                                                        <%}%>>
                                                            <%= v %>
                                                </option>
                                                <% }) %>
                                        </select>
                                </div>

                                <div class="form-group py-2">
                                    <label>Gender</label>
                                    <div style="display: flex;">
                                        <div class="icheck-material-white">
                                            <input type="radio" id="user-radio1" name="gender" value="male"
                                                <%if(adminData.gender=="male" ){%>
                                            <%= "checked" %>
                                                <%}%>/>
                                                    <label for="user-radio1">Male</label>
                                        </div>
                                        <div class="icheck-material-white" style="margin-left: 30px;">
                                            <input type="radio" id="user-radio2" name="gender" value="female"
                                                <%if(adminData.gender=="female" ){%>
                                            <%= "checked" %>
                                                <%}%> />
                                                    <label for="user-radio2">Female</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group py-2">
                                    <label>Hobby</label>
                                    <div style="display: flex;">
                                        <div class="icheck-material-white">
                                            <input type="checkbox" id="user-checkbox1" name="hobby" value="foody"
                                                <%if(adminData.hobby.includes("foody")){%>
                                            <%= "checked" %>
                                                <%}%>/>
                                                    <label for="user-checkbox1">Foody</label>
                                        </div>
                                        <div class="icheck-material-white" style="margin-left: 30px;">
                                            <input type="checkbox" id="user-checkbox2" name="hobby" value="adventure"
                                                <%if(adminData.hobby.includes("adventure")){%>
                                            <%= "checked" %>
                                                <%}%>/>
                                                    <label for="user-checkbox2">adventure</label>
                                        </div>
                                        <div class="icheck-material-white" style="margin-left: 30px;">
                                            <input type="checkbox" id="user-checkbox3" name="hobby" value="travelling"
                                                <%if(adminData.hobby.includes("travelling")){%>
                                            <%= "checked" %>
                                                <%}%>/>
                                                    <label for="user-checkbox3">travelling</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Image</label>
                                    <div style="display: flex;">
                                        <label class="filelabel">
                                            <i class="fa fa-paperclip">
                                            </i>
                                            <span class="title">
                                                Add Img
                                            </span>
                                            <input class="FileUpload1" id="FileInput" name="admin_img" type="file" />
                                        </label>
                                        <div style="width: 100px; height: 100px;margin-left: 30px;">
                                            <img src="<%= adminData.admin_img %>" alt="" height="100" width="100"
                                                style="border-radius: 3px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i>
                                        Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!--End Row-->

            <%- include("footer") %>